[submodule "themes/basicwebtheme"]
	path = themes/basicwebtheme
	url = https://github.com/mdashx/basicwebtheme
[submodule "public"]
	path = public
	url = https://github.com/caitong93/caitong93.github.io.git
[submodule "themes/gindoro"]
	path = themes/gindoro
	url = https://github.com/cdipaolo/gindoro
[submodule "themes/kiss"]
	path = themes/kiss
	url = https://github.com/ribice/kiss.git
